{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container login-box"> 

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
                label: 'Nom',
                attr: {
                    placeholder: 'Nom',
                    class: 'form-control user-box-input'
                }
            }) }}
            {{ form_row(registrationForm.prenom, {
                label: 'Prénom',
                attr: {
                    placeholder: 'Prenom',
                    class: 'form-control user-box-input'
                }
            }) }}
            {{ form_row(registrationForm.telephone, {
                label: 'Telephone',
                attr: {
                    placeholder: 'Numero de tephone',
                    class: 'form-control user-box-input'
                }
            }) }}
        {{ form_row(registrationForm.email,{
            label:'Email',
             attr: {
                    placeholder: 'Email',
                    class: 'form-control user-box-input'
                }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
             attr: {
                    placeholder: 'Password',
                    class: 'form-control user-box-input'
                }
        }) }}
        {{ form_row(registrationForm.agreeTerms,{
           attr: {
                    class: 'form-check-label ms-2'
                }
        }) }}

        <button type="submit" class="btn btn-primary mt-2">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
