{% extends 'base.html.twig' %}

{% block title %}Hello ReservController!{% endblock %}



{% block body %}
<main class="content-body contenair ms-4 d-flex gap-5 justify-content-center">
{# <h1>{{ slugTest }}</h1> #}

    {% for item in reser %}
        <div class="card" style="width: 18rem;">
            <article >
                <header>
                    {{ item.salle }}
                    {% if item.reserve == true %}
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="#FFAAAA" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm4.24 16L12 15.45L7.77 18l1.12-4.81l-3.73-3.23l4.92-.42L12 5l1.92 4.53l4.92.42l-3.73 3.23L16.23 18z"/></svg>
                        </span>
                    {% endif %}
                </header>
                <p>Le début du réservation: {{ item.datedebut|date('d/m/Y') }}</p>
                <p>La fin du réservation: {{ item.datefin|date('d/m/Y') }}</p>
                <p>La date du réservation {{ item.datereservation|date('d/m/Y') }}</p>
                <footer>
                    <a href={{ path('app_reservation_show', { id: item.id }) }}>Voir la salle</a>
                    <a href={{ path('app_reservation_edit', { id: item.id }) }}>modifier la salle</a>
                    {# <a href={{ path('app_reservation_delete', { id: item.id }) }}>Voir la salle</a> #}
                </footer>
            </article>
        </div>
    {% endfor %}
</main>
{% endblock %}
