

{{ dump(sall.id) }}
  <div class="container login-box">
{{ form_start(form) }}
      {# {{ form_row(form.salle, {
                label: 'Salle',
                attr: {
                    placeholder: 'selectionner votre salle',
                    class: 'form-control ',
                   selected:"selected",
                value:sall
                }
            }) }} #}
            
            {{ form_row(form.datedebut, {
                label: 'Date de debuit',
                
            }) }}
            {{ form_row(form.datefin, {
                label: 'Date de fin',
               
            }) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
