{% extends '@EasyAdmin/page/content.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href={{ asset('css/custom.css') }}>
{% endblock %}

{% block page_content %}


	<div class="container text-center">
		<div class="row">
			<div class="col">


				<div class="card">
					<h5 class="card-header t_heder fs-4">Nombre de salles</h5>
					<div class="card-body">
						<p class="card-text fs-1 fw-bold">{{ salles}}</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<h5 class="card-header t_heder fs-4">Nombre de réservations</h5>
					<div class="card-body">
						<p class="card-text fs-1 fw-bold">{{reservations}}</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<h5 class="card-header t_heder fs-4">Réservation acceptée</h5>
					<div class="card-body">
						<p class="card-text fs-1 fw-bold">{{ accepter}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body contenair ms-4">

		{% for item in utilisateurs %}

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{item.nom}}
						{{item.prenom}}</h5>
					<p>
						<span class="span">Mail:</span>
						{{item.email}}</p>
					{# <h5 class="card-title">{{item.}}</h5> #}

					<p class="card-text">
						{% for reserv in item.reservations %}

							<p>
								<span class="span">Les salles réservées:</span>
								{{reserv }}
							</p>
							<p>
								<span class="span">Date de réservation:</span>
								{{reserv.datereservation|date('d/m/Y')}}

							</p>
							{% set datelocation = reserv.datereservation|date_modify('+5 day')  %}
							{% set mod = datelocation|date('d/m/Y')%}
							{% set date ="now"|date('d/m/Y') %}
							{% if reserv.reserve == null and mod ==  date %}
								<div class="alert alert-danger" role="alert">
									Réservation en attente
								</div>
							{% endif %}

						{% endfor %}

					</p>

				</p>
			</div>
		</div>
	{% endfor %}

</div>{% endblock %}
